<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pcs_volumebalok_0097">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="PCS_VolumeBalok_0097"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.pcs_volumebalok_0097.MainActivity2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.pcs_volumebalok_0097.MainActivity">

        </activity>
    </application>

</manifest>